.wrapper {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255);
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.wrapper {
  background-image: url(./img/background.jpg);
height: 100vh;
background-position: center;
background-repeat: no-repeat;
background-color: rgb(255, 255, 255);
background-size: cover;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
}

@media only screen  and (min-width : 768px) {

.container {
  background-color: rgb(240, 234, 214);
  background-size: cover;
  flex-wrap: wrap;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:-1px -1px 8px 20px rgba(0, 0, 0, 0.2), 3px 8px 20px 9px rgba(0, 0, 0, 0.2);
  /* height: 60vh;
  width: 100vh; 
   new 
padding-top: 1.5rem;
padding-bottom: 1.5rem;
  width: 60%; */
}


.wrapper {
    background-image: url(./img/background.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255);
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#title-div {
  text-align: center;
}
.newD {
  width: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(240, 234, 214);
    background-position: center center;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.sign-png {
  max-width: 7.5rem;
  height: auto;
}
select .myForm {
  height: auto;
}

.birthday-info-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 70vw; 
}
.birthday-info-container {
  display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
  }

.reset-button-container {
display: flex;
justify-content: center;
padding-bottom: 10px;
}

select, input {
  width: 6rem;
  height: 3em;
}

select:hover , input:hover, input:hover label, input:hover::placeholder {
  color:  #006622;border: 1px solid transparent;
  box-shadow: 0 0 3px 0  #006622;
  color: #006622;
  
  }
/* sel, inp,
width: 6rem;
height: 3em;
padding: .25em;
text-align: center;
} */
}

/* titleD
    width: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(240, 234, 214);
    background-position: center center;
}




dob input cont
flex 

*/    
/* containfer after sunsigndiv 
min-width: 70%;
height: 65vh;
} */